/* base.css */

body {
  width: 100vw;
  height: 100vh;
  background-color: gray;
}

:root {
  --game-display-width: 400px;
  --game-display-height: 450px;
  --game-display-radius: 15px;
}

.star {
  position: absolute;
  background-color: #fff;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  animation: twinkling 1.5s infinite;
  z-index: 1;
}

@keyframes twinkling {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
