/* buttons.css */

.buttons-wrap {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.arrow-btn {
  width: 150px;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0;
}

.arrow-btn-item {
  width: 50px;
  height: 50px;
}

.arrow-btn-item:nth-child(5) {
  width: 60px;
  height: 60px;
  background-color: black;
  box-shadow: -7px 10px 0px black;
}

.arrow-btn-item:nth-child(2),
.arrow-btn-item:nth-child(4),
.arrow-btn-item:nth-child(6),
.arrow-btn-item:nth-child(8) {
  background-color: black;
  box-shadow: -7px 10px 0px black;
  cursor: pointer;
}

.arrow-btn-item:nth-child(2) {
  border-top: 5px solid gray;
  border-left: 5px solid gray;
  border-right: 5px solid gray;
}

.arrow-btn-item:nth-child(4) {
  border-left: 5px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
}

.arrow-btn-item:nth-child(6) {
  border-top: 5px solid gray;
  border-right: 5px solid gray;
  border-bottom: 5px solid gray;
}

.arrow-btn-item:nth-child(8) {
  border-left: 5px solid gray;
  border-right: 5px solid gray;
  border-bottom: 5px solid gray;
}

.arrow-btn-item:active {
  filter: brightness(0.8);
}

.circle-btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  transform: rotate(-10deg);
}

.circle-btn-item {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: -7px 10px 0px black;
  border: 5px solid gray;
  cursor: pointer;
}

.circle-btn-item:active {
  filter: brightness(0.8);
}

.circle-btn-item:nth-child(1) {
  background-color: blue;
}

.circle-btn-item:nth-child(2) {
  background-color: yellow;
}

.circle-btn-item:nth-child(3) {
  background-color: green;
}

.circle-btn-item:nth-child(4) {
  position: relative;
  background-color: red;

  & > span {
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    text-align: center;
    line-height: 55px;
    font-weight: bold;
    font-size: 50px;
    color: black;
    transform: rotate(100deg);
  }
}
